body {
  background-image: url("/assets/coffee-beans-with-props-making-coffee.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Noto Sans Mono',sans-serif;
}
.logo{
  width: 150px;
  height: 110px;
  margin-top: 20px;
  border: none;
  border-radius: 500px;
}
.name{
  font-size: 40px;
}
ul li{
  list-style-type: none;
  display: inline;
  font-size: 18px;
  font-weight: bolder;
  margin-right: 25px;
  margin-top: 10px;
  color: #306559;
}
li:hover{
  color: #363636;
}

svg{
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
  color: #306559;
}
svg:hover{
  color: #363636;
}
.signup-section{
  display: flex;
  flex-direction: column;
  justify-content: center; 
   align-items: center;
  background-color: rgba(255,255,255,0.85);
  border-radius: 15px;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.signin-logo{
  width: 200px;
  height: 150px;
  margin-left: 80px;
}
input {
  width: 350px;
  height: 40px;
  border-radius: 5px;
}
input::placeholder{
  font-family: 'Noto Sans Mono',sans-serif;
}
.signin-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3cm;
}
h2{
  text-align: center;
}
a{
  font-size: 13px;
}
.btn-in{
  background-color: #306559;
  border: none;
  border-radius: 5px;
  font-family: 'Noto Sans Mono',sans-serif;
  width: 90px;
  height: 30px;
  color: #f1f1f1;

}
.page-logo{
  width: 150px;
  height: 150px;
}